.text-center {
    text-align: center!important;
}

.page-header {
    color: #4BBEFD;
}

.search-bar {
    margin-top: 15px;
    width: 100%;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}
