<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map-container">
    <iframe width="100%" height="100%"
            src="https://lookerstudio.google.com/embed/reporting/1861a226-0db9-4f74-b4a2-0c71c4b96604/page/fvFpD"
            frameborder="0"
            style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
    </iframe>
</div>
