.node {
    cursor: pointer;
}

.overlay {
    background-color: #EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
    display: none;
}

.modal-heading {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.jumbotron {
    background: url("../../../assets/dtol banner thin.jpg") center center no-repeat;
    background-size: cover;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-bottom: 0 !important;
}

#reset {
    display: none;
}

.zoom {
    display: none;
}

#organismsModal {
    top: 10px;
}

.modal-backdrop {
    display: none;
}

.switch {
    margin: 1.5rem 6.5rem;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    position: absolute;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 900px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 150px;
}

#messages {
    display: block !important;
    position: absolute;
}

.toggle {
    position: relative;
    margin-top: 50px;
    white-space: nowrap;
    /* margin-left: 55px; */
    margin-right: 50px;
}

#tree-switch {
    margin-bottom: -6px;
}

.search-bar {
    margin: 0rem 25rem;
}