<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
<div id="tree-container" style="text-align: center;" class="svg-container">
    <div>
        <span id='zoom_in' type="button" class="material-icons zoom">zoom_in</span>
        <span id='zoom_out' type="button" class="material-icons zoom">zoom_out</span>
        <span id='reset' type="button" class="material-icons">restart_alt</span>
    </div>
    <div class="modal fade" id="organismsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title modal-heading" modal-heading>
                    </h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="organismsTable" class="table">
                        <thead>
                            <tr>
                                <th scope="col">Organism</th>
                                <th scope="col">Common Name</th>
                                <th scope="col">Tracking status</th>
                                <th scope="col">Genomes on a Tree reference</th>
                            </tr>
                        </thead>
                        <tbody id="organisms">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>