.container {
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5px 5px;
}

.item1 {
    flex-grow: 3;
}

.item2 {
    flex-grow: 25;
}

.item3 {
    flex-grow: 1;
}

.item0 {
    flex-grow: 1;
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    width: 20%;
}

dd {
    margin-left: auto;
    width: 80%;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

h1 {
    color: black;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
}

img {
    max-width: 800px;
}

mat-chip {
    padding: 4px 9px !important;
}

.card-contents {
    width: 100%;
}

.searchField {
    width: 100%;
    margin-top: 10px;
}
