<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taxonomyModal">
        Taxonomy Modal
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="taxonomyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Taxonomy Rank</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="myUL">
          <li><span class="caret" id="root" (click)="toggleTaxanomy('root-list','root')">Root</span>
          <ul class="nested" id="root-list">
            <li><span id="cellular" class="caret" (click)="toggleTaxanomy('superkingdom','cellular')">Cellular
            Organisms</span>
            <!-- Root level -->
            <ul class="nested" id="superkingdom">
              @for (element of childTaxanomy.cellularorganism[0].childData; track element) {
                <li>
                  <span class="caret" id="Eukaryota" (click)="getChildTaxonomyRank(childTaxanomy.cellularorganism[0].rank, element.key, 'kingdom')">
                    {{element.key}}
                  </span>
                  <!-- Super kingdom level -->
                  @if (childTaxanomy.superkingdom.length > 0) {
                    <ul class="nested {{element.key}}">
                      @for (super of childTaxanomy.superkingdom; track super) {
                        @if (element.key == super.parent) {
                          @for (superchild of super.childData; track superchild) {
                            <li>
                              <span class="caret" id="{{superchild.key}}" (click)="getChildTaxonomyRank(super.rank, superchild.key, 'subkingdom')">
                                {{superchild.key}}
                              </span>
                              <!-- kingdom level -->
                              @if (childTaxanomy.kingdom.length > 0) {
                                <ul class="nested {{superchild.key}}">
                                  @for (king of childTaxanomy.kingdom; track king) {
                                    @if (superchild.key === king.parent) {
                                      @for (kingchild of king.childData; track kingchild) {
                                        <li>
                                          <span class="caret" id="{{kingchild.key}}" (click)="getChildTaxonomyRank(king.rank, kingchild.key, 'phylum')">
                                            {{kingchild.key}}
                                          </span>
                                          <!-- subkingdom level -->
                                          @if (childTaxanomy.subkingdom.length > 0) {
                                            <ul class="nested {{kingchild.key}}">
                                              @for (subking of childTaxanomy.subkingdom; track subking) {
                                                @if (kingchild.key === subking.parent) {
                                                  @for (subchild of subking.childData; track subchild) {
                                                    <li>
                                                      <span class="caret" id="{{subchild.key}}" (click)="getChildTaxonomyRank(subking.rank, subchild.key, 'subphylum')">
                                                        {{subchild.key}}
                                                      </span>
                                                      <!-- phylum level -->
                                                      @if (childTaxanomy.phylum.length > 0) {
                                                        <ul class="nested {{subchild.key}}">
                                                          @for (phylum of childTaxanomy.phylum; track phylum) {
                                                            @if (subchild.key === phylum.parent) {
                                                              @for (phylChild of phylum.childData; track phylChild) {
                                                                <li>
                                                                  <span class="caret" id="{{phylChild.key}}" (click)="getChildTaxonomyRank(phylum.rank, phylChild.key, 'superclass')">
                                                                    {{phylChild.key}}
                                                                  </span>
                                                                  <!-- subphylum level -->
                                                                  @if (childTaxanomy.subphylum.length > 0) {
                                                                    <ul class="nested {{phylChild.key}}">
                                                                      @for (subphylum of childTaxanomy.subphylum; track subphylum) {
                                                                        @if (phylChild.key === subphylum.parent) {
                                                                          @for (subphylumchild of subphylum.childData; track subphylumchild) {
                                                                            <li>
                                                                              <span class="caret" id="{{subphylumchild.key}}" (click)="getChildTaxonomyRank(subphylum.rank, subphylumchild.key, 'class')">
                                                                                {{subphylumchild.key}}
                                                                              </span>
                                                                              <!-- superclass level -->
                                                                              @if (childTaxanomy.superclass.length > 0) {
                                                                                <ul class="nested {{subphylumchild.key}}">
                                                                                  @for (superclass of childTaxanomy.superclass; track superclass) {
                                                                                    @if (subphylumchild.key === superclass.parent) {
                                                                                      @for (superclasschild of superclass.childData; track superclasschild) {
                                                                                        <li>
                                                                                          <span class="caret" id="{{superclasschild.key}}" (click)="getChildTaxonomyRank(superclass.rank, superclasschild.key, 'subclass')">
                                                                                            {{superclasschild.key}}
                                                                                          </span>
                                                                                          <!-- class level -->
                                                                                        </li>
                                                                                      }
                                                                                    }
                                                                                  }
                                                                                </ul>
                                                                              }
                                                                            </li>
                                                                          }
                                                                        }
                                                                      }
                                                                    </ul>
                                                                  }
                                                                </li>
                                                              }
                                                            }
                                                          }
                                                        </ul>
                                                      }
                                                    </li>
                                                  }
                                                }
                                              }
                                            </ul>
                                          }
                                        </li>
                                      }
                                    }
                                  }
                                </ul>
                              }
                            </li>
                          }
                        }
                      }
                    </ul>
                  }
                </li>
              }
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div>
</div>