<div class="row">
  <div class="col-md-12 col-sm-6">
    <div class="card bg-lite mb-3 filter-top">
      <h3 class="card-header filter-heading">
        <span>Phylogeny</span>
      </h3>
      <ul id="ontology-inactive" class="list-group">
        @if ((isFilterSelected && filterService.selectedFilterValue!== undefined )) {
          <li
            class="rank-heading list-group-item"> {{filterService.selectedFilterValue.rank | uppercase}}
          </li>
        }
        @if ((isFilterSelected && filterService.selectedFilterValue!== undefined )) {
          <li
            class="list-group-item d-flex justify-content-between align-items-center kingdom active-filter"
            style="cursor: pointer; padding: .75rem 0.25rem;"
            id="{{filterService.selectedFilterValue.taxonomy}}-kingdom"
            (click)="showTaxonomyModal($event, currentTaxonomy.rank, currentTaxonomy.taxonomy, 'subkingdom')">
            {{filterService.selectedFilterValue.taxonomy}} ({{filterService.selectedFilterValue.commonName}})
            @if (isShowCount === 'true') {
              <span  class="badge badge-pill badge-info">{{filterService.bioSampleTotalCount}}</span>
            }
          </li>
        }
        @if (!isFilterSelected) {
          <li class="rank-heading list-group-item"> KINGDOM </li>
        }
        @if (!this.isFilterSelected) {
          @for (super of this.childTaxanomy.superkingdom; track super) {
            @for (superchild of super.childData; track superchild) {
              <li
                class="list-group-item d-flex justify-content-between align-items-center kingdom"
                style="cursor: pointer; padding: .75rem 0.25rem;" id="{{superchild.key}}-kingdom"
                (click)="showTaxonomyModal($event, super.rank, superchild.key, 'phylum')"
                (dblclick)="filterTaxonomy(super.rank, superchild.key, 'phylum',superchild.commonName.buckets[0].key, superchild.taxId.buckets[0].key)">
                {{superchild.key}} ({{superchild.commonName.buckets[0].key}})
                @if (isShowCount === 'true') {
                  <span  class="badge badge-pill badge-info">{{superchild.doc_count}}</span>
                }
              </li>
            }
          }
        }
      </ul>
    </div>
  </div>
</div>
<div class="modal fade" id="taxonomyModal" tabindex="-1" role="dialog" aria-labelledby="ontologyModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title modal-heading" id="ontologyModal" modal-heading>Taxonomy
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideTaxaModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="myUL">
          <!-- phylum level -->
          @if (childTaxanomy.kingdom.length > 0) {
            <ul class="nested phylum">
              <li class="rank-heading">
                {{currentTaxaOnExpand.childRank | uppercase}}
              </li>
              @for (king of childTaxanomy.kingdom; track king) {
                <ng-container>
                  @for (kingchild of king.childData; track kingchild; let i = $index) {
                    <li>
                      @if (((king.childData.length == 1 && kingchild.key != 'Other') || (king.childData.length > 1 ))) {
                        <i class="fas fa-plus-circle {{kingchild.key}}-{{king.rank}}" (click)="getChildTaxonomyRankEvent($event, king.rank, kingchild.key, 'class')"></i>
                      }
                      @if (((king.childData.length == 1 && kingchild.key != 'Other') || (king.childData.length > 1 ))) {
                        <span class="caret {{kingchild.key}}-{{king.rank}}" id="{{kingchild.key}}-{{king.rank}}" (dblclick)="filterTaxonomy(king.rank, kingchild.key, 'class',kingchild.commonName.buckets[0].key, kingchild.taxId.buckets[0].key)">
                          {{kingchild.key}} ({{kingchild.commonName.buckets[0].key}})
                        </span>
                      }
                      @if (((king.childData.length == 1 && kingchild.key != 'Other') || (king.childData.length > 1 ))) {
                        <span class="badge badge-pill badge-info {{kingchild.key}}-{{king.rank}}">@if (isShowCount === 'true') {
                          <span  >{{kingchild.doc_count}}</span>
                        }</span>
                      }
                      @if (((king.childData.length == 1 && kingchild.key != 'Other') || (king.childData.length > 1 ))) {
                        <hr
                          class="{{kingchild.key}}-{{king.rank}}">
                      }
                      <!-- class level -->
                      @if (childTaxanomy.phylum.length > 0) {
                        <ul class="nested {{kingchild.key}}-class">
                          @for (phylum of childTaxanomy.phylum; track phylum) {
                            @if (kingchild.key === phylum.parent) {
                              @for (phylumchild of phylum.childData; track phylumchild; let i = $index) {
                                <li>
                                  @if (((phylum.childData.length == 1 && phylumchild.key != 'Other') || (phylum.childData.length > 1 ))) {
                                    <i class="fas fa-plus-circle {{phylumchild.key}}-{{phylum.rank}}" (click)="getChildTaxonomyRankEvent($event, phylum.rank, phylumchild.key, 'order')"></i>
                                  }
                                  @if (((phylum.childData.length == 1 && phylumchild.key != 'Other') || (phylum.childData.length > 1 ))) {
                                    <span class="caret {{phylumchild.key}}-{{phylum.rank}}" id="{{phylumchild.key}}-{{phylum.rank}}" (dblclick)="filterTaxonomy(phylum.rank, phylumchild.key, 'order',phylumchild.commonName.buckets[0].key, phylumchild.taxId.buckets[0].key)">
                                      {{phylumchild.key}}
                                      ({{phylumchild.commonName.buckets[0].key}})
                                    </span>
                                  }
                                  @if (((phylum.childData.length == 1 && phylumchild.key != 'Other') || (phylum.childData.length > 1 ))) {
                                    <span class="badge badge-pill badge-info {{phylumchild.key}}-{{phylum.rank}}">@if (isShowCount === 'true') {
                                      <span  >{{phylumchild.doc_count}}</span>
                                    }</span>
                                  }
                                  @if (((phylum.childData.length == 1 && phylumchild.key != 'Other') || (phylum.childData.length > 1 ))) {
                                    <hr
                                      class="{{phylumchild.key}}-{{phylum.rank}}">
                                  }
                                  <!-- order level -->
                                  @if (childTaxanomy.class.length > 0) {
                                    <ul class="nested {{phylumchild.key}}-order"
                                      >
                                      @for (class of childTaxanomy.class; track class) {
                                        @if (phylumchild.key === class.parent) {
                                          @for (classchild of class.childData; track classchild; let i = $index) {
                                            <li
                                              >
                                              @if (((class.childData.length == 1 && classchild.key != 'Other') || (class.childData.length > 1 ))) {
                                                <i class="fas fa-plus-circle" (click)="getChildTaxonomyRankEvent($event, class.rank, classchild.key, 'family')"></i>
                                              }
                                              @if (((class.childData.length == 1 && classchild.key != 'Other') || (class.childData.length > 1 ))) {
                                                <span class="caret" id="{{classchild.key}}-{{class.rank}}" (dblclick)="filterTaxonomy(class.rank, classchild.key, 'family',classchild.commonName.buckets[0].key, classchild.taxId.buckets[0].key)">
                                                  {{classchild.key}}
                                                  ({{classchild.commonName.buckets[0].key}})
                                                </span>
                                              }
                                              @if (((class.childData.length == 1 && classchild.key != 'Other') || (class.childData.length > 1 ))) {
                                                <span class="badge badge-pill badge-info">@if (isShowCount === 'true') {
                                                  <span  >{{classchild.doc_count}}</span>
                                                }</span>
                                              }
                                              @if (((class.childData.length == 1 && classchild.key != 'Other') || (class.childData.length > 1 ))) {
                                                <hr
                                                  >
                                              }
                                              <!-- family level -->
                                              @if (childTaxanomy.order.length > 0) {
                                                <ul class="nested {{classchild.key}}-family"
                                                  >
                                                  @for (order of childTaxanomy.order; track order) {
                                                    @if (classchild.key === order.parent) {
                                                      @for (orderChild of order.childData; track orderChild; let i = $index) {
                                                        <li
                                                          >
                                                          @if (((order.childData.length == 1 && orderChild.key != 'Other') || (order.childData.length > 1 ))) {
                                                            <i class="fas fa-plus-circle" (click)="getChildTaxonomyRankEvent($event, order.rank, orderChild.key, 'genus')"></i>
                                                          }
                                                          @if (((order.childData.length == 1 && orderChild.key != 'Other') || (order.childData.length > 1 ))) {
                                                            <span class="caret" id="{{orderChild.key}}-{{order.rank}}" (dblclick)="filterTaxonomy(order.rank, orderChild.key, 'genus',orderChild.commonName.buckets[0].key, orderChild.taxId.buckets[0].key)">
                                                              {{orderChild.key}}
                                                              ({{orderChild.commonName.buckets[0].key}})
                                                            </span>
                                                          }
                                                          @if (((order.childData.length == 1 && orderChild.key != 'Other') || (order.childData.length > 1 ))) {
                                                            <span class="badge badge-pill badge-info">@if (isDisShowCountashboard === 'true') {
                                                              <span  >{{orderChild.doc_count}}</span>
                                                            }</span>
                                                          }
                                                          @if (((order.childData.length == 1 && orderChild.key != 'Other') || (order.childData.length > 1 ))) {
                                                            <hr
                                                              >
                                                          }
                                                          <!-- genus level -->
                                                          @if (childTaxanomy.family.length > 0) {
                                                            <ul class="nested {{orderChild.key}}-genus"
                                                              >
                                                              @for (family of childTaxanomy.family; track family) {
                                                                @if (orderChild.key === family.parent) {
                                                                  @for (familyChild of family.childData; track familyChild; let i = $index) {
                                                                    <li
                                                                      >
                                                                      @if (((family.childData.length == 1 && familyChild.key != 'Other') || (family.childData.length > 1 ))) {
                                                                        <i class="fas fa-plus-circle" (click)="getChildTaxonomyRankEvent($event, family.rank, familyChild.key, 'species')"></i>
                                                                      }
                                                                      @if (((family.childData.length == 1 && familyChild.key != 'Other') || (family.childData.length > 1 ))) {
                                                                        <span class="caret" id="{{familyChild.key}}-{{family.rank}}" (dblclick)="filterTaxonomy(family.rank, familyChild.key, 'species',familyChild.commonName.buckets[0].key, familyChild.taxId.buckets[0].key)">
                                                                          {{familyChild.key}}
                                                                          ({{familyChild.commonName.buckets[0].key}})
                                                                        </span>
                                                                      }
                                                                      @if (((family.childData.length == 1 && familyChild.key != 'Other') || (family.childData.length > 1 ))) {
                                                                        <span class="badge badge-pill badge-info">@if (isShowCount === 'true') {
                                                                          <span  >{{familyChild.doc_count}}</span>
                                                                        }</span>
                                                                      }
                                                                      @if (((family.childData.length == 1 && familyChild.key != 'Other') || (family.childData.length > 1 ))) {
                                                                        <hr
                                                                          >
                                                                      }
                                                                      <!-- species level -->
                                                                      @if (childTaxanomy.genus.length > 0) {
                                                                        <ul class="nested {{familyChild.key}}-species"
                                                                          >
                                                                          @for (genus of childTaxanomy.genus; track genus) {
                                                                            @if (familyChild.key === genus.parent) {
                                                                              @for (genusChild of genus.childData; track genusChild; let i = $index) {
                                                                                <li
                                                                                  >
                                                                                  <!-- <i *ngIf="((genus.childData.length == 1 && genusChild.key != 'Other') || (genus.childData.length > 1 ))" class="fas fa-plus-circle" (click)="getChildTaxonomyRankEvent($event, genus.rank, genusChild.key, 'forma')"></i> -->
                                                                                  @if (((genus.childData.length == 1 && genusChild.key != 'Other') || (genus.childData.length > 1 ))) {
                                                                                    <span class="caret" id="{{genusChild.key}}-{{genus.rank}}" (dblclick)="filterTaxonomy(genus.rank, genusChild.key, 'species',genusChild.commonName.buckets[0].key, genusChild.taxId.buckets[0].key)">
                                                                                      {{genusChild.key}}
                                                                                      ({{genusChild.commonName.buckets[0].key}})
                                                                                    </span>
                                                                                  }
                                                                                  @if (((genus.childData.length == 1 && genusChild.key != 'Other') || (genus.childData.length > 1 ))) {
                                                                                    <span class="badge badge-pill badge-info">@if (isShowCount === 'true') {
                                                                                      <span  >{{genusChild.doc_count}}</span>
                                                                                    }</span>
                                                                                  }
                                                                                  @if (((genus.childData.length == 1 && genusChild.key != 'Other') || (genus.childData.length > 1 ))) {
                                                                                    <hr
                                                                                      >
                                                                                  }
                                                                                </li>
                                                                              }
                                                                            }
                                                                          }
                                                                        </ul>
                                                                      }
                                                                    </li>
                                                                  }
                                                                }
                                                              }
                                                            </ul>
                                                          }
                                                        </li>
                                                      }
                                                    }
                                                  }
                                                </ul>
                                              }
                                            </li>
                                          }
                                        }
                                      }
                                    </ul>
                                  }
                                </li>
                              }
                            }
                          }
                        </ul>
                      }
                    </li>
                  }
                </ng-container>
              }
            </ul>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
