.jumbotron {
    background: url("../../assets/DTL_website_banner_2020_FINAL_WEB.jpg") no-repeat center center;
    background-size: cover;
    height: 31%;
}

.display-4 {
    margin-top: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.page-header {
    color: #4BBEFD;
}

.mb32 {
    font-size: 1.1em;
}

.mb32 {
    margin-bottom: 32px;
}

p {
    margin: 0px 13px 12px;
}