
<div class="row">
    <div class="col-md-8">
        <div style="text-align: center;">
            <h2 class='filter-heading'>Organisms Part</h2>
            <div id="organismPie">
                <canvas baseChart
                        [data]="organismPartPieChartData"
                        [labels]="organismPartPieChartLabels"
                        [chartType]="pieChartType"
                        [colors]="organismChartColors"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
    </div>
</div>
