<div id="overlay"></div>
<div>
    <ngx-spinner bdColor="rgba(0,0,0,0.9)" [fullScreen]="true" size = "large" color = "#fff" type = "ball-clip-rotate-pulse">
    </ngx-spinner>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="display-2 text-center">Sequencing all 70,000</h1>
                    <h1 class="display-2 text-center">eukaryotic species of</h1>
                    <h1 class="display-2 text-center">Britain and Ireland </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 20px;">
        <div class="row main-table">
            <div class="col-md-2 status-table">
                <div class="row">
                    <!-- <div class="col-md-12 col-sm-6">
                        <div class="card bg-lite mb-3 filter-top">
                            <h3 class="card-header filter-heading">
                                <span #lbltextBiosamples>Metadata submitted to BioSamples</span>
                            </h3>
                            <ul class="list-group">
                                <ng-container *ngFor="let filter of BiosamplesFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center biosamples-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'biosamples', filter.key)" style="cursor: pointer" *ngIf="filter.key != ''">
                                        {{filter.key}}
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span></li>
                                </ng-container>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-md-12 col-sm-6">
                        <div class="card bg-lite mb-3 filter-top">
                            <h3 class="card-header filter-heading">
                                <span #lbltextENA>Data Status</span>
                            </h3>
                            <ul class="list-group">
                                <ng-container *ngFor="let filter of BiosamplesFilters; let i = index">
                                    <li class="biosample list-group-item d-flex justify-content-between align-items-center biosamples-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'biosamples', filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Biosamples - done'">
                                        <span>Biosamples - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span></li>
                                </ng-container>
                                <ng-container *ngFor="let filter of RawDataFilters; let i = index">
                                    <li class="raw-data list-group-item d-flex justify-content-between align-items-center raw-data-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'raw-data' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Raw data - done'">
                                        <span>Raw Data - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span></li>
                                </ng-container>

                                <ng-container *ngFor="let filter of MappedReadsFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center mapped-reads-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'mapped-reads' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Mapped reads - done'">
                                        <span>Mapped Reads - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span></li>
                                </ng-container>

                                <ng-container *ngFor="let filter of AssembliesFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center assemblies-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'assemblies' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Assemblies - done'">
                                        <span>Assemblies - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span></li>
                                </ng-container>

                                <ng-container *ngFor="let filter of AnnotationCompleteFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center annotation-complete-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'annotation-complete' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Annotation complete - done'">
                                        <span>Annotation Complete - Done</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span></li>
                                </ng-container>

                                <ng-container *ngFor="let filter of AnnotationFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center annotation-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'annotation' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Annotation - done'">
                                        <span>Annotation - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span></li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 status-table">
                <h1 class="page-header">Statuses</h1>
                <h1 *ngIf="activeFilters.length !== 0">Filters:
                    <button type="button" class="btn btn-success" *ngFor="let filter of activeFilters">
          {{filter}}
          <span class="badge badge-light" (click)="removeFilter(filter)">X</span>
        </button>
                    <button type="button" class="btn btn-primary" (click)="removeAllFilters()">
          Remove all filters
        </button>
                </h1>
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input #searchInput matInput [(ngModel)]='searchText' (keyup)="getSearchResults()" placeholder="Ex. lutra" #input>
                </mat-form-field>
                <table mat-table #table [dataSource]="dataSource" matSort (matSortChange)="customSort($event)">
                    <!-- First Column -->
                    <ng-container matColumnDef="organism">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Organism </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a [routerLink]="['/data/root/details/', element.organism]">
                            {{element.organism}}</a>
                        </mat-cell>
                    </ng-container>

                    <!-- Second Column -->
                    <ng-container matColumnDef="commonName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Common name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.commonName}} </mat-cell>
                    </ng-container>

                    <!-- Third Column -->
                    <ng-container matColumnDef="metadata_submitted_to_biosamples">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Metadata submitted to BioSamples </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-list>
                                <mat-list-item>
                                    <span class="badge badge-pill badge-success">{{element.biosamples}} </span>
                                </mat-list-item>
                                <mat-list-item>
                                    {{element.biosamples_date}}
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>
                    <!-- Fourth Column -->
                    <ng-container matColumnDef="raw_data_submitted_to_ena">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Raw data submitted to ENA </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-list>
                                <mat-list-item>
                                    <span [ngClass]="getStatusClass(element.raw_data)">{{element.raw_data }}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    {{element.ena_date}}
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>
                    <!-- Fifth Column -->
                    <ng-container matColumnDef="mapped_reads_submitted_to_ena">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Mapped reads submitted to ENA </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-list>
                                <mat-list-item>
                                    <span [ngClass]="getStatusClass(element.mapped_reads)">{{element.mapped_reads }} </span>
                                </mat-list-item>
                                <mat-list-item>
                                    {{element.ena_date}}
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="assemblies_submitted_to_ena">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Assemblies submitted to ENA </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-list>
                                <mat-list-item>
                                    <span [ngClass]="getStatusClass(element.assemblies)">{{element.assemblies }} </span>
                                </mat-list-item>
                                <mat-list-item>
                                    {{element.ena_date}}
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="annotation_complete">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Annotation complete </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-list>
                                <mat-list-item>
                                    <span [ngClass]="getStatusClass(element.annotation_complete)">
                                    {{ element.annotation_complete }} </span>
                                </mat-list-item>
                                <mat-list-item>
                                    {{element.annotation_date}}
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="annotation_submitted_to_ena">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Annotation submitted to ENA </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-list>
                                <mat-list-item>
                                    <span [ngClass]="getStatusClass(element.annotation)">{{element.annotation }} </span>
                                </mat-list-item>
                                <mat-list-item>
                                    {{element.annotation_date}}
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
                <mat-paginator [pageSizeOptions]="[20, 30, 50, 100]" showFirstLastButtons [length]="statusesTotalCount" (page)="pageChanged($event)"></mat-paginator>
            </div>
            <div id="org-table" class="col-md-10 org-table" *ngIf="showOrganismTable">
                <h1 class="text-center card-header zero-margin">Organisms
                    <i class="material-icons float-right" (click)="toggleOrganismTable()">remove</i>
                </h1>
                <table mat-table #table [dataSource]="orgDataSource" class="round-border">
                    <!-- First Column -->
                    <ng-container matColumnDef="accession">
                        <mat-header-cell *matHeaderCellDef> BioSample ID </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="txt-center">
                            <a [routerLink]="['/data/details/', element.accession]">
              {{element.accession}}</a>
                        </mat-cell>
                    </ng-container>

                    <!-- Second Column -->
                    <ng-container matColumnDef="organism">
                        <mat-header-cell *matHeaderCellDef> Organism </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="txt-center"> {{element.organism}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="commonName">
                        <mat-header-cell *matHeaderCellDef>Common Name </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="txt-center"> {{element?.commonName}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sex">
                        <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="txt-center"> {{element.sex}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="organismPart">
                        <mat-header-cell *matHeaderCellDef> Organism Part </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="txt-center"> {{element.organismPart}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="trackingSystem">
                        <mat-header-cell *matHeaderCellDef> Tracking status </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.trackingSystem)">{{element.trackingSystem}}</span>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="orgDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: orgDisplayedColumns;"></mat-row>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons [length]="orgTotalCount" (page)="orgPageChanged($event)"></mat-paginator>
            </div>
        </div>
    </div>
</div>