<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Darwin Tree of Life</h1>
        <p class="lead">Tracking system</p>
    </div>
</div>

<div class="container" style="padding-top: 65px;">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="card bg-lite mb-3 filter-top">
                        <h6 class="card-header">Organism</h6>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Lutra lutra
                                <span class="badge badge-pill badge-info">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Sciurus carolinensis
                                <span class="badge badge-pill badge-info">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Sciurus vulgaris
                                <span class="badge badge-pill badge-info">1</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6">
                    <div class="card bg-lite mb-3">
                        <h6 class="card-header">Common Name</h6>
                        <ul class="list-group ">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Eurasian river otter
                                <span class="badge badge-pill badge-info">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                grey squirrel
                                <span class="badge badge-pill badge-info">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Eurasian red squirrel
                                <span class="badge badge-pill badge-info">1</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <h1>Tracking system</h1>
            <mat-table #table [dataSource]="dataSource" matSort>
                <!-- First Column -->
                <ng-container matColumnDef="Organism">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Organism </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.organism}} </mat-cell>
                </ng-container>

                <!-- Second Column -->
                <ng-container matColumnDef="Common name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Common name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.common_name}} </mat-cell>
                </ng-container>

                <!-- Third Column -->
                <ng-container matColumnDef="Metadata submitted to BioSamples">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Metadata submitted to BioSamples </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-success">{{element.metadata_submitted_to_biosamples}} </span>
                    </mat-cell>
                </ng-container>
                <!-- Fourth Column -->
                <ng-container matColumnDef="Raw data submitted to ENA">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Raw data submitted to ENA </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-success">{{element.raw_data_submitted_to_ena }}</span>
                    </mat-cell>
                </ng-container>
                <!-- Fifth Column -->
                <ng-container matColumnDef="Mapped reads submitted to ENA">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Mapped reads submitted to ENA </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-success">{{element.mapped_reads_submitted_to_ena }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Assemblies submitted to ENA">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Assemblies submitted to ENA </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-warning">{{element.assemblies_submitted_to_ena }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Annotation submitted to ENA">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Annotation submitted to ENA </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-warning">{{element.annotation_submitted_to_ena }} </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
