.filter-top {
    margin-top: 1rem !important;
}

.jumbotron {
    background: url("../../../assets/DTL_website_banner_2020_FINAL_WEB.jpg") center center no-repeat;
    background-size: cover;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.card-header,
.btn-success,
.badge-success {
    background-color: #8FBC45;
}

.btn-primary,
.active {
    background-color: #4BBEFD;
}

.page-header {
    color: #4BBEFD;
}

.display-2 {
    color: ghostwhite;
}

.txt-center {
    text-align: center;
    justify-content: center;
}

.mat-header-cell {
    text-align: center;
    justify-content: center;
}

i {
    cursor: pointer;
}

.disp {
    display: block !important;
}

.non-disp {
    display: none !important;
}

ul.long-list {
    max-height: 300px;
    overflow: scroll;
}

.filter-heading {
    font-size: unset;
    font-weight: 400;
}