<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-2">Sequencing the genomes of </h1>
        <h1 class="display-2">all 60,000 eukaryotic species </h1>
        <h1 class="display-2">of Britain and Ireland</h1>
    </div>
</div>

<div class="container" style="padding-top: 65px;">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="card bg-lite mb-3 filter-top">
                        <h3 class="card-header">Organism</h3>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                [ngClass]="checkFilterIsActive(filter[0])"
                                (click)="onFilterClick(filter[0])"
                                style="cursor: pointer" *ngFor="let filter of organismFilters">
                                {{filter[0]}}
                                <span class="badge badge-pill badge-info">{{filter[1]}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6">
                    <div class="card bg-lite mb-3">
                        <h3 class="card-header">Common Name</h3>
                        <ul class="list-group ">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                [ngClass]="checkFilterIsActive(filter[0])"
                                (click)="onFilterClick(filter[0])"
                                style="cursor: pointer" *ngFor="let filter of commonNameFilters">
                                {{filter[0]}}
                                <span class="badge badge-pill badge-info">{{filter[1]}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <h1 class="page-header">Tracking system</h1>
            <h1 *ngIf="activeFilters.length !== 0">Filters:
                <button type="button" class="btn btn-success" *ngFor="let filter of activeFilters">
                    {{filter}}
                    <span class="badge badge-light" (click)="removeFilter(filter)">X</span>
                </button>
                <button type="button" class="btn btn-primary" (click)="removeAllFilters()">
                    Remove all filters
                </button>
            </h1>
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. lutra" #input>
            </mat-form-field>
            <table mat-table #table [dataSource]="dataSource" matSort>
                <!-- First Column -->
                <ng-container matColumnDef="organism">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Organism </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.organism}} </mat-cell>
                </ng-container>

                <!-- Second Column -->
                <ng-container matColumnDef="common_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Common name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.common_name}} </mat-cell>
                </ng-container>

                <!-- Third Column -->
                <ng-container matColumnDef="metadata_submitted_to_biosamples">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Metadata submitted to BioSamples </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-success">{{element.metadata_submitted_to_biosamples}} </span>
                    </mat-cell>
                </ng-container>
                <!-- Fourth Column -->
                <ng-container matColumnDef="raw_data_submitted_to_ena">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Raw data submitted to ENA </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-success">{{element.raw_data_submitted_to_ena }}</span>
                    </mat-cell>
                </ng-container>
                <!-- Fifth Column -->
                <ng-container matColumnDef="mapped_reads_submitted_to_ena">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Mapped reads submitted to ENA </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-success">{{element.mapped_reads_submitted_to_ena }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="assemblies_submitted_to_ena">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Assemblies submitted to ENA </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-success">{{element.assemblies_submitted_to_ena }} </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="annotation_submitted_to_ena">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Annotation submitted to ENA </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-success">{{element.annotation_submitted_to_ena }} </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
