.jumbotron {
    background: url("../../../assets/DTL_website_banner_2020_FINAL_WEB.jpg") no-repeat center center;
    background-size: cover;
    height: 31%;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.card-header, .btn-success, .badge-success {
    background-color: #8FBC45;
}

.btn-primary, .active {
    background-color: #4BBEFD;
}

.page-header {
    color: #4BBEFD;
}

.display-4 {
    margin-top: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
.mat-cell {
    text-align: center;
    justify-content:center;
}

.display-2 {
    color: ghostwhite;
}
