<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
  <a href="#" class="navbar-brand">
    <img src="../../../assets/dtol-logo-round-300x132.png" alt="Logo" style="width:25%;">
  </a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <a routerLink="dashboard" class="nav-link">Organisms</a>
      </li>
      <li class="navbar-item">
        <a routerLink="dashboard/specimens" class="nav-link">Specimens</a>
      </li>
      <li class="navbar-item">
        <a routerLink="tracking_system" class="nav-link">Tracking system</a>
      </li>
    </ul>
  </div>
</nav>
