.map-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#map {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
}

.leaflet-popup-close-button {
    display: none;
}

.control-coordinates {
    background-color: white;
}