.filter-top {
    margin-top: 1rem !important;
}

.jumbotron {
    background: url("../../../assets/DTL_website_banner_2020_FINAL_WEB.jpg") no-repeat center center;
    background-size: cover;
    height: 31%;
}

