<div>
    <ngx-spinner bdColor="rgba(0,0,0,0.9)" [fullScreen]="true" size="large" color="#fff" type="ball-clip-rotate-pulse">
    </ngx-spinner>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="card bg-lite mb-3 filter-top">
                            <h3 class="card-header filter-heading">
                                <span #lbltextENA>Data Status</span>
                            </h3>
                            <ul class="list-group">
                                <ng-container *ngFor="let filter of BiosamplesFilters; let i = index">
                                    <li class="biosample list-group-item d-flex justify-content-between align-items-center biosamples-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'biosamples', filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Biosamples - Done'">
                                        <span>Biosamples - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span>
                                    </li>
                                </ng-container>
<!--                                <ng-container *ngFor="let filter of MappedReadsFilters; let i = index">-->
<!--                                    <li class="list-group-item d-flex justify-content-between align-items-center mapped-reads-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'mapped-reads' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Mapped reads - Done'">-->
<!--                                        <span>Mapped Reads - Submitted</span>-->
<!--                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span>-->
<!--                                    </li>-->
<!--                                </ng-container>-->

                                <ng-container *ngFor="let filter of AssembliesFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center assemblies-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'assemblies' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Assemblies - Done'">
                                        <span>Assemblies - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span>
                                    </li>
                                </ng-container>
                                <ng-container *ngFor="let filter of RawDataFilters; let i = index">
                                    <li class="raw-data list-group-item d-flex justify-content-between align-items-center raw-data-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'raw-data' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Raw data - Done'">
                                        <span>Raw Data - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span>
                                    </li>
                                </ng-container>
                                <ng-container *ngFor="let filter of AnnotationFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center annotation-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'annotation' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Annotation - Done'">
                                        <span>Annotation - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span>
                                    </li>
                                </ng-container>
                                <ng-container *ngFor="let filter of AnnotationCompleteFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center annotation-complete-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'annotation-complete' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Annotation complete - Done'">
                                        <span>Annotation Complete - Done</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span>
                                    </li>
                                </ng-container>
                                <ng-container *ngFor="let filter of GenomeFilters; let i = index">
                                    <li class="list-group-item d-flex justify-content-between align-items-center genome-inactive" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'genome' , filter.key)" style="cursor: pointer" *ngIf="filter.key === 'Genome Notes - Submitted' && filter.doc_count > 0">
                                        <span>Genome Notes - Submitted</span>
                                        <span class="badge badge-pill badge-info">{{filter.doc_count}}</span>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Ontalogy aware filters -->
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="card bg-lite mb-3 filter-top">
                            <h3 class="card-header filter-heading">
                                <span>Phylogeny</span>
                            </h3>
                            <ul id="ontology-inactive" class="list-group">
                                <li *ngIf="isFilterSelected" class="rank-heading list-group-item"> {{selectedFilterValue.rank | uppercase}}
                                </li>
                                <li *ngIf="isFilterSelected" class="list-group-item d-flex justify-content-between align-items-center kingdom active-filter" style="cursor: pointer; padding: .75rem 0.25rem;" id="{{selectedFilterValue.taxonomy}}-kingdom" (click)="showTaxonomyModal($event, currentTaxonomy.rank, currentTaxonomy.taxonomy, 'phylum')">
                                    {{selectedFilterValue.taxonomy}} ({{selectedFilterValue.commonName}})
                                    <span class="badge badge-pill badge-info">{{bioSampleTotalCount}}</span>
                                </li>
                                <li *ngIf="!isFilterSelected" class="rank-heading list-group-item"> KINGDOM </li>
                                <ng-container *ngIf="!isFilterSelected">
                                    <ng-container *ngFor="let super of childTaxanomy.superkingdom">
                                        <li *ngFor="let superchild of super.childData" class="list-group-item d-flex justify-content-between align-items-center kingdom" style="cursor: pointer; padding: .75rem 0.25rem;" id="{{superchild.key}}-kingdom" (click)="showTaxonomyModal($event, super.rank, superchild.key, 'phylum')"
                                            (dblclick)="filterTaxonomy(super.rank, superchild.key, 'phylum',superchild.commonName.buckets[0].key, superchild.taxId.buckets[0].key)">
                                            {{superchild.key}} ({{superchild.commonName.buckets[0].key}})
                                            <span class="badge badge-pill badge-info">{{superchild.doc_count}}</span>
                                        </li>
                                    </ng-container>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--             Experiment type filters -->
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="card bg-lite mb-3 filter-top">
                            <h3 class="card-header filter-heading">
                                <span>Experiment Type</span>

                                <i class="material-icons float-right" *ngIf="experimentTypeFilters?.length > 5 && isCollapsed" (click)="toggleCollapseForExp()">add</i>
                                <i class="material-icons float-right" *ngIf="experimentTypeFilters?.length > 5 && !isCollapsed" (click)="toggleCollapseForExp()">remove</i>

                            </h3>
                            <ul id="experimentType" class="list-group">
                                <ng-container *ngFor="let filter of experimentTypeFilters; let i = index ">
                                    <li *ngIf="i<itemLimit" class="biosample list-group-item d-flex justify-content-between align-items-center biosamples-inactive" id="{{filter.key}}-Experiment Type" [ngClass]="checkFilterIsActive(filter.key)" (click)="onFilterClick($event, 'experiment-type', filter.key)"
                                        style="cursor: pointer">
                                        <span>{{filter.key}}</span>
                                        <span class="badge badge-pill badge-info">{{filter.organism_count.doc_count}}</span>
                                    </li>
                                </ng-container>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <h1 class="page-header">Organisms</h1>

                <mat-expansion-panel (opened)="expanded()">
                    <mat-expansion-panel-header class="page-header">
                        Column Selection
                    </mat-expansion-panel-header>
                    <div class="col-md-12">
                        <div class="row">
                            <mat-checkbox *ngFor="let data of dataColumnsDefination" class="col-md-4" color="primary" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()" [checked]="data.selected" (change)="showSelectedColumn(data, $event.checked)">
                                {{data.name}}
                            </mat-checkbox>
                        </div>
                    </div>
                </mat-expansion-panel>
                <br />

                <button *ngIf="activeFilters.length > 0 || selectedFilterValue != '' && (this.AnnotationFilters.length > 0 || this.AnnotationCompleteFilters.length > 0 || this.AssembliesFilters.length > 0 || this.RawDataFilters.length > 0)" type="button" style="float: right;"
                    class="btn btn-primary" mat-raised-button (click)="openDialog()">Download</button>

                <button type="button" style="float: right;" class="btn btn-primary" mat-raised-button (click)="downloadCSV()">Download metadata</button>
                <h1 *ngIf="activeFilters.length > 0 || selectedFilterValue != ''">Filters:
                    <span *ngIf="(phylSelectedRank != '' && activeFilters.length > 1) || (phylSelectedRank == '' && activeFilters.length > 0)">
                        <span *ngFor="let filter of activeFilters">
                            <span *ngIf="phylSelectedRank != filter">
                                <button type="button" class="btn btn-success">{{filter}}
                                    <span class="badge badge-light" (click)="removeFilter(filter)">X</span>
                    </button>
                    </span>
                    </span>
                    </span>
                    <span *ngIf="selectedFilterValue != ''">
                        <button type="button" class="btn btn-success">{{selectedFilterValue.taxonomy}}
                            <span class="badge badge-light" (click)="removeTaxaFilter(selectedFilterValue.taxonomy)">X</span>
                    </button>
                    </span>
                    <button *ngIf="activeFilters.length > 0 || selectedFilterValue != ''" type="button" class="btn btn-primary" (click)="removeAllFilters()">
                        Remove all filters
                    </button>
                </h1>
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input #searchInput matInput [(ngModel)]='searchText' (keyup)="getSearchResults()" placeholder="Ex. lutra" #input>
                </mat-form-field>
                <table mat-table matTableExporter #exporter="matTableExporter" #table [dataSource]="dataSource" matSort (matSortChange)="customSort($event)">
                    <ng-container matColumnDef="organism">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-150 th-left'"> Organism </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'w-150 th-left'">
                            <a [routerLink]="['/data/root/details/', element.id]">
                                {{element.organism}} </a>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tolid">
                        <mat-header-cell *matHeaderCellDef [ngClass]="'w-80 th-left'"> ToL ID </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'w-80 th-left'"> {{typeofTol(element?.tolid)}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="INSDC_ID">
                        <mat-header-cell *matHeaderCellDef [ngClass]="'w-90 th-left'"> INSDC ID </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'w-90 th-left'"> {{element?.INSDC_ID}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="commonName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-120 th-left'">Common Name </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'w-120 th-left'">
                            {{element?.commonName}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="commonNameSource">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75 th-center'">Common Name Source</mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'w-75 th-center'">
                            <span *ngIf="checkElement(element)" [ngClass]="commonNameSourceStyle(element)" style="width: 65px;text-align: center;">{{element.commonNameSource}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="currentStatus">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-150 th-left'"> Current status </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'w-150 th-left'">
                            <span [ngClass]="getStatusClass(element.currentStatus)">{{element.currentStatus}}</span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="goatInfo">
                        <mat-header-cell *matHeaderCellDef style=" padding-right: 0px;" [ngClass]="'w-200 th-left'">External references
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" style=" padding-right: 0px; " [ngClass]="'w-200 th-left'">
                            <span>
                                <a class="no-underline badge badge-pill goat-color" target="_blank"
                                    href="{{element?.goatInfo}}">GoaT info</a>
                                <ng-container *ngIf="checkTolidExists(element)">
                                    <a class="no-underline badge badge-pill goat-color2" target="_blank"
                                        href="{{generateTolidLink(element)}}">ToL QC</a>
                                </ng-container>
                                <ng-container *ngIf="checkGenomeExists(element)">
                                    <a class="no-underline badge badge-pill genome" target="_blank"
                                        href="{{getGenomeURL(element)}}">Genome Note</a>
                                </ng-container>
                            </span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="biosamples">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Metadata submitted to BioSamples </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.biosamples)">{{element.biosamples}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="raw_data">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Raw data submitted to ENA </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.raw_data)">{{element.raw_data}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="mapped_reads">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Mapped reads submitted to ENA </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.mapped_reads)">{{element.mapped_reads}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="assemblies">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Assemblies submitted to ENA </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.assemblies_status)">{{element.assemblies_status}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="annotation_complete">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Annotation complete </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.annotation_complete)">{{element.annotation_complete}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="annotation">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Annotation submitted to ENA </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.annotation_status)">{{element.annotation_status}}</span>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
                <mat-paginator [pageSizeOptions]="[20, 40, 60, 100]" showFirstLastButtons [length]="bioSampleTotalCount" (page)="pageChanged($event)"></mat-paginator>
            </div>
        </div>
    </div>

    <div class="modal fade" id="taxonomyModal" tabindex="-1" role="dialog" aria-labelledby="ontologyModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title modal-heading" id="ontologyModal" modal-heading>Taxonomy
                    </h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideTaxaModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="myUL">
                        <!-- phylum level -->
                        <ul class="nested phylum" *ngIf="childTaxanomy.kingdom.length > 0">
                            <li class="rank-heading">
                                {{currentTaxaOnExpand.childRank | uppercase}}
                            </li>
                            <ng-container *ngFor="let king of childTaxanomy.kingdom">
                                <ng-container>
                                    <li *ngFor="let kingchild of king.childData; let i = index">
                                        <i *ngIf="((king.childData.length == 1 && kingchild.key != 'Other') || (king.childData.length > 1 ))" class="fas fa-plus-circle {{kingchild.key}}-{{king.rank}}" (click)="getChildTaxonomyRankEvent($event, king.rank, kingchild.key, 'class')"></i>
                                        <span *ngIf="((king.childData.length == 1 && kingchild.key != 'Other') || (king.childData.length > 1 ))" class="caret {{kingchild.key}}-{{king.rank}}" id="{{kingchild.key}}-{{king.rank}}" (dblclick)="filterTaxonomy(king.rank, kingchild.key, 'class',kingchild.commonName.buckets[0].key, kingchild.taxId.buckets[0].key)">
                                            {{kingchild.key}} ({{kingchild.commonName.buckets[0].key}})
                                        </span>
                                        <span *ngIf="((king.childData.length == 1 && kingchild.key != 'Other') || (king.childData.length > 1 ))" class="badge badge-pill badge-info {{kingchild.key}}-{{king.rank}}">{{kingchild.doc_count}}</span>
                                        <hr *ngIf="((king.childData.length == 1 && kingchild.key != 'Other') || (king.childData.length > 1 ))" class="{{kingchild.key}}-{{king.rank}}">
                                        <!-- class level -->
                                        <ul class="nested {{kingchild.key}}-class" *ngIf="childTaxanomy.phylum.length > 0">
                                            <ng-container *ngFor="let phylum of childTaxanomy.phylum">
                                                <ng-container *ngIf="kingchild.key === phylum.parent">
                                                    <li *ngFor="let phylumchild of phylum.childData; let i = index">
                                                        <i *ngIf="((phylum.childData.length == 1 && phylumchild.key != 'Other') || (phylum.childData.length > 1 ))" class="fas fa-plus-circle {{phylumchild.key}}-{{phylum.rank}}" (click)="getChildTaxonomyRankEvent($event, phylum.rank, phylumchild.key, 'order')"></i>
                                                        <span *ngIf="((phylum.childData.length == 1 && phylumchild.key != 'Other') || (phylum.childData.length > 1 ))" class="caret {{phylumchild.key}}-{{phylum.rank}}" id="{{phylumchild.key}}-{{phylum.rank}}" (dblclick)="filterTaxonomy(phylum.rank, phylumchild.key, 'order',phylumchild.commonName.buckets[0].key, phylumchild.taxId.buckets[0].key)">
                                                            {{phylumchild.key}}
                                                            ({{phylumchild.commonName.buckets[0].key}})
                                                        </span>
                                                        <span *ngIf="((phylum.childData.length == 1 && phylumchild.key != 'Other') || (phylum.childData.length > 1 ))" class="badge badge-pill badge-info {{phylumchild.key}}-{{phylum.rank}}">{{phylumchild.doc_count}}</span>
                                                        <hr *ngIf="((phylum.childData.length == 1 && phylumchild.key != 'Other') || (phylum.childData.length > 1 ))" class="{{phylumchild.key}}-{{phylum.rank}}">
                                                        <!-- order level -->
                                                        <ul class="nested {{phylumchild.key}}-order" *ngIf="childTaxanomy.class.length > 0">
                                                            <ng-container *ngFor="let class of childTaxanomy.class">
                                                                <ng-container *ngIf="phylumchild.key === class.parent">
                                                                    <li *ngFor="let classchild of class.childData; let i = index">
                                                                        <i *ngIf="((class.childData.length == 1 && classchild.key != 'Other') || (class.childData.length > 1 ))" class="fas fa-plus-circle" (click)="getChildTaxonomyRankEvent($event, class.rank, classchild.key, 'family')"></i>
                                                                        <span *ngIf="((class.childData.length == 1 && classchild.key != 'Other') || (class.childData.length > 1 ))" class="caret" id="{{classchild.key}}-{{class.rank}}" (dblclick)="filterTaxonomy(class.rank, classchild.key, 'family',classchild.commonName.buckets[0].key, classchild.taxId.buckets[0].key)">
                                                                            {{classchild.key}}
                                                                            ({{classchild.commonName.buckets[0].key}})
                                                                        </span>
                                                                        <span *ngIf="((class.childData.length == 1 && classchild.key != 'Other') || (class.childData.length > 1 ))" class="badge badge-pill badge-info">{{classchild.doc_count}}</span>
                                                                        <hr *ngIf="((class.childData.length == 1 && classchild.key != 'Other') || (class.childData.length > 1 ))">
                                                                        <!-- family level -->
                                                                        <ul class="nested {{classchild.key}}-family" *ngIf="childTaxanomy.order.length > 0">
                                                                            <ng-container *ngFor="let order of childTaxanomy.order">
                                                                                <ng-container *ngIf="classchild.key === order.parent">
                                                                                    <li *ngFor="let orderChild of order.childData; let i = index">
                                                                                        <i *ngIf="((order.childData.length == 1 && orderChild.key != 'Other') || (order.childData.length > 1 ))" class="fas fa-plus-circle" (click)="getChildTaxonomyRankEvent($event, order.rank, orderChild.key, 'genus')"></i>
                                                                                        <span *ngIf="((order.childData.length == 1 && orderChild.key != 'Other') || (order.childData.length > 1 ))" class="caret" id="{{orderChild.key}}-{{order.rank}}" (dblclick)="filterTaxonomy(order.rank, orderChild.key, 'genus',orderChild.commonName.buckets[0].key, orderChild.taxId.buckets[0].key)">
                                                                                            {{orderChild.key}}
                                                                                            ({{orderChild.commonName.buckets[0].key}})
                                                                                        </span>
                                                                                        <span *ngIf="((order.childData.length == 1 && orderChild.key != 'Other') || (order.childData.length > 1 ))" class="badge badge-pill badge-info">{{orderChild.doc_count}}</span>
                                                                                        <hr *ngIf="((order.childData.length == 1 && orderChild.key != 'Other') || (order.childData.length > 1 ))">
                                                                                        <!-- genus level -->
                                                                                        <ul class="nested {{orderChild.key}}-genus" *ngIf="childTaxanomy.family.length > 0">
                                                                                            <ng-container *ngFor="let family of childTaxanomy.family">
                                                                                                <ng-container *ngIf="orderChild.key === family.parent">
                                                                                                    <li *ngFor="let familyChild of family.childData; let i = index">
                                                                                                        <i *ngIf="((family.childData.length == 1 && familyChild.key != 'Other') || (family.childData.length > 1 ))" class="fas fa-plus-circle" (click)="getChildTaxonomyRankEvent($event, family.rank, familyChild.key, 'species')"></i>
                                                                                                        <span *ngIf="((family.childData.length == 1 && familyChild.key != 'Other') || (family.childData.length > 1 ))" class="caret" id="{{familyChild.key}}-{{family.rank}}" (dblclick)="filterTaxonomy(family.rank, familyChild.key, 'species',familyChild.commonName.buckets[0].key, familyChild.taxId.buckets[0].key)">
                                                                                                            {{familyChild.key}}
                                                                                                            ({{familyChild.commonName.buckets[0].key}})
                                                                                                        </span>
                                                                                                        <span *ngIf="((family.childData.length == 1 && familyChild.key != 'Other') || (family.childData.length > 1 ))" class="badge badge-pill badge-info">{{familyChild.doc_count}}</span>
                                                                                                        <hr *ngIf="((family.childData.length == 1 && familyChild.key != 'Other') || (family.childData.length > 1 ))">
                                                                                                        <!-- species level -->
                                                                                                        <ul class="nested {{familyChild.key}}-species" *ngIf="childTaxanomy.genus.length > 0">
                                                                                                            <ng-container *ngFor="let genus of childTaxanomy.genus">
                                                                                                                <ng-container *ngIf="familyChild.key === genus.parent">
                                                                                                                    <li *ngFor="let genusChild of genus.childData; let i = index">
                                                                                                                        <!-- <i *ngIf="((genus.childData.length == 1 && genusChild.key != 'Other') || (genus.childData.length > 1 ))" class="fas fa-plus-circle" (click)="getChildTaxonomyRankEvent($event, genus.rank, genusChild.key, 'forma')"></i> -->
                                                                                                                        <span *ngIf="((genus.childData.length == 1 && genusChild.key != 'Other') || (genus.childData.length > 1 ))" class="caret" id="{{genusChild.key}}-{{genus.rank}}" (dblclick)="filterTaxonomy(genus.rank, genusChild.key, 'species',genusChild.commonName.buckets[0].key, genusChild.taxId.buckets[0].key)">
                                                                                                                            {{genusChild.key}}
                                                                                                                            ({{genusChild.commonName.buckets[0].key}})
                                                                                                                        </span>
                                                                                                                        <span *ngIf="((genus.childData.length == 1 && genusChild.key != 'Other') || (genus.childData.length > 1 ))" class="badge badge-pill badge-info">{{genusChild.doc_count}}</span>
                                                                                                                        <hr *ngIf="((genus.childData.length == 1 && genusChild.key != 'Other') || (genus.childData.length > 1 ))">
                                                                                                                    </li>
                                                                                                                </ng-container>
                                                                                                            </ng-container>
                                                                                                        </ul>
                                                                                                    </li>
                                                                                                </ng-container>
                                                                                            </ng-container>
                                                                                        </ul>
                                                                                    </li>
                                                                                </ng-container>
                                                                            </ng-container>
                                                                        </ul>
                                                                    </li>
                                                                </ng-container>
                                                            </ng-container>
                                                        </ul>
                                                    </li>
                                                </ng-container>
                                            </ng-container>
                                        </ul>
                                    </li>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
