<div class="jumbotron jumbotron-fluid">
    <div>
        <div class="row">
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
<!--<div class="row">-->
<!--    <div class="col-md-4">-->
<!--        <div style="text-align: center;">-->
<!--            <h2 class='filter-heading'>Tracking Status</h2>-->
<!--            <div id="trackingStatusPie">-->
<!--                <canvas baseChart-->
<!--                        [data]="pieChartData"-->
<!--                        [labels]="pieChartLabels"-->
<!--                        [chartType]="pieChartType"-->
<!--                        [colors]="chartColors"-->
<!--                        [options]="pieChartOptions"-->
<!--                        [plugins]="pieChartPlugins"-->
<!--                        [legend]="pieChartLegend">-->
<!--                </canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--        <div style="text-align: center;">-->
<!--            <h2 class='filter-heading'>Lifestage</h2>-->
<!--            <div id="lifeStagePie">-->
<!--                <canvas baseChart-->
<!--                        [data]="lifestagePieChartData"-->
<!--                        [labels]="lifestagePieChartLabels"-->
<!--                        [chartType]="pieChartType"-->
<!--                        [colors]="lifestageChartColors"-->
<!--                        [options]="pieChartOptions"-->
<!--                        [plugins]="pieChartPlugins"-->
<!--                        [legend]="pieChartLegend">-->

<!--                </canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--        <div style="text-align: center;">-->
<!--            <h2 class='filter-heading'>Kingdom</h2>-->
<!--            <div id="KingdomPie">-->
<!--                <canvas baseChart-->
<!--                        [data]="kingdompieChartData"-->
<!--                        [labels]="kingdompieChartLabels"-->
<!--                        [chartType]="pieChartType"-->
<!--                        [colors]="kingdomChartColors"-->
<!--                        [options]="pieChartOptions"-->
<!--                        [plugins]="pieChartPlugins"-->
<!--                        [legend]="pieChartLegend">-->
<!--                </canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <div style="text-align: center;">-->
<!--                <h2 class='filter-heading'>Organisms Part</h2>-->
<!--                <div id="organismPie">-->
<!--                    <canvas baseChart-->
<!--                            [data]="organismPartPieChartData"-->
<!--                            [labels]="organismPartPieChartLabels"-->
<!--                            [chartType]="pieChartType"-->
<!--                            [colors]="organismChartColors"-->
<!--                            [options]="pieChartOptions"-->
<!--                            [plugins]="pieChartPlugins"-->
<!--                            [legend]="pieChartLegend">-->
<!--                    </canvas>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div style="text-align: center;">-->
<!--                <h2 class='filter-heading'>Sex Distribution</h2>-->
<!--                <div id="sexDistribution">-->
<!--                    <canvas baseChart-->
<!--                            [data]="sexPieChartData"-->
<!--                            [labels]="sexPieChartLabels"-->
<!--                            [chartType]="pieChartType"-->
<!--                            [colors]="sexchartColors"-->
<!--                            [options]="pieChartOptions"-->
<!--                            [plugins]="pieChartPlugins"-->
<!--                            [legend]="pieChartLegend">-->
<!--                    </canvas>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div style="text-align: center;">-->
<!--                <h2 class='filter-heading'>ENA First Public</h2>-->
<!--                <div id="lineChart">-->
<!--                    <canvas baseChart-->
<!--                            [datasets]="lineChartData"-->
<!--                            [labels]="firstPubliclineChartLabels"-->
<!--                            [chartType]="lineChartType"-->
<!--                            [colors]="chartColors"-->
<!--                            [options]="lineChartOptions"-->
<!--                            [legend]="lineChartLegend">-->
<!--                    </canvas>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

<app-summary>Summary Charts</app-summary>

<!--<div class="row">-->
<!--    <div class="col-md-6">-->
<!--        <h2 class='filter-heading' style="text-align: center;">Organism Geographic Location</h2>-->
<!--        <div id="container" class="card headers" style="color: #dddddd">-->
<!--            <div style="text-align: center;">-->
<!--                <button style="cursor: pointer;" id="zoom_in" class="material-icons zoom">+</button>-->
<!--                <button style="cursor: pointer;" id="zoom_out" class="material-icons zoom">-</button>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
    <!--        <div class="col-md-6">-->
    <!--            <div style="text-align: center;">-->
    <!--                <h2 class='filter-heading'>Habitat</h2>-->
    <!--                <div id="habitatPie">-->
    <!--                    <canvas baseChart-->
    <!--                            [data]="habitatPieChartData"-->
    <!--                            [labels]="habitatPieChartLabels"-->
    <!--                            [chartType]="pieChartType"-->
    <!--                            [colors]="chartColors"-->
    <!--                            [options]="pieChartOptions"-->
    <!--                            [plugins]="pieChartPlugins"-->
    <!--                            [legend]="pieChartLegend">-->
    <!--                    </canvas>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

<!--</div>-->

