<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center page-header">Squirrel</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            Metadata submitted to BioSamples
        </div>
        <div class="col-md-4">
            <span class="badge badge-pill badge-success">Done</span>
        </div>
        <div class="col-md-4">
            2019-02-03
        </div>
    </div>
</div>
