<div class="container" style="padding-top: 65px;">
    <h1 class="text-center page-header">{{bioSampleId}}</h1>
    <dl class="row">
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9">{{bioSampleObj?.commonName}}</dd>

        <dt class="col-sm-3">BioSample ID:</dt>
        <dd class="col-sm-9"><a href="http://www.ebi.ac.uk/biosamples/samples/{{bioSampleObj?.accession}}"
                target="_blank">{{bioSampleObj?.accession}}</a></dd>

        <dt class="col-sm-3">Organism:</dt>
        <dd class="col-sm-9">{{bioSampleObj?.organism}}</dd>

        <dt class="col-sm-3">Sex:</dt>
        <dd class="col-sm-9" *ngIf="bioSampleObj?.sex.length !== 0">
            <a href="{{bioSampleObj?.sex[0].ontologyTerms[0]}}"
                target="_blank">{{bioSampleObj?.sex[0].text}}</a></dd>

        <dt class="col-sm-3">Internal ID:</dt>
        <dd class="col-sm-9">{{bioSampleObj?.scientificName}}</dd>

        <dt class="col-sm-3">Tax ID:</dt>
        <dd class="col-sm-9">{{bioSampleObj?.taxonId}}</dd>

        <div class="col-sm-12">
            <hr>
            <div class="row" *ngFor="let sample of bioSampleObj?.customField">
                <dt class="col-sm-3">{{sample?.name}}</dt>
                <dd class="col-sm-9">
                    <a *ngIf="sample.ontologyTerms?.lenght > 0; else simple"
                        href="{{sample.ontologyTerms[0]}}">{{sample?.value}}</a>
                    <ng-template #simple>
                        {{sample?.value}}
                    </ng-template>
                </dd>
            </div>
        </div>
        <!-- Relationship Section -->
        <div class="col-sm-12">
            <hr>
            <h1 class="col-sm-12 page-header">Related Samples</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-borderless table-sm">
                    <thead>
                        <tr>
                            <th>BioSample ID</th>
                            <th>Relationship</th>
                            <th>BioSample ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rel of bioSampleObj?.relationship">
                            <td><a href="http://www.ebi.ac.uk/biosamples/samples/{{rel.source}}"
                                    target="_blank">{{rel.source}}</a></td>
                            <td>{{rel.type}}</td>
                            <td><a href="http://www.ebi.ac.uk/biosamples/samples/{{rel.target}}"
                                    target="_blank">{{rel.target}}</a></td>
                        </tr>
                </table>
            </div>
        </div>
        <!-- Experiment Files Section -->
        <div class="col-sm-12">
            <hr>
            <h1 class="col-sm-12 page-header">Related files</h1>
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ILLUMINA" #input>
            </mat-form-field>
            <table mat-table #table [dataSource]="dataSourceFiles" matSort class="table table-striped table-hover table-borderless table-sm">

                <!-- Second Column -->
                <ng-container matColumnDef="experiment_accession">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Experiment Accession </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a class="no-underline" target="_blank"
                            href="https://www.ebi.ac.uk/ena/browser/view/{{element.experiment_accession}}">{{element.experiment_accession}}</a>
                    </mat-cell>
                </ng-container>
                <!-- Third Column -->
                <ng-container matColumnDef="run_accession">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Run Accession </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a class="no-underline" target="_blank"
                            href="https://www.ebi.ac.uk/ena/browser/view/{{element.run_accession}}">{{element.run_accession}}</a>
                    </mat-cell>
                </ng-container>

                <!-- Fourth Column -->
                <ng-container matColumnDef="study_accession">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Study Accession </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a class="no-underline" target="_blank"
                            href="https://www.ebi.ac.uk/ena/browser/view/{{element.study_accession}}">{{element.study_accession}}</a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fastq_ftp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Raw Data </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ul class="list-group ">
                            <li *ngFor="let fastq of element.fastq_ftp">
                                <a href="ftp://{{fastq}}">{{element.run_accession}}</a>
                            </li>
                        </ul>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="submitted_ftp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Mapped Reads </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ul class="list-group ">
                            <li *ngFor="let submitted_ftp of element.submitted_ftp">
                                <a href="ftp://{{submitted_ftp}}">{{element.study_accession}}</a>
                            </li>
                        </ul>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="instrument_platform">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Instrument Platform </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.instrument_platform}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="instrument_model">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Instrument Model </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.instrument_model}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="library_layout">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Library Layout </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.library_layout}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="library_strategy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Library Strategy </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.library_strategy}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="library_source">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Library Source </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.library_source}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="library_selection">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Library Selection </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.library_selection}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsFiles"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsFiles;"></mat-row>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <div class="col-sm-12">
            <hr>
            <h1 class="col-sm-12 page-header">Related assemblies</h1>
            <table mat-table #table [dataSource]="dataSourceAssemblies"
                   class="table table-striped table-hover table-borderless table-sm">
                <!-- First Column -->
                <ng-container matColumnDef="accession">
                    <mat-header-cell *matHeaderCellDef> Accession </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a class="no-underline" target="_blank"
                           href="https://www.ebi.ac.uk/ena/browser/view/{{element.accession}}">{{element.accession}}</a>
                    </mat-cell>
                </ng-container>

                <!-- Second Column -->
                <ng-container matColumnDef="assembly_name">
                    <mat-header-cell *matHeaderCellDef> Assembly Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.assembly_name}} </mat-cell>
                </ng-container>
                <!-- Third Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="version">
                    <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.version}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsAssemblies"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsAssemblies;"></mat-row>
            </table>
        </div>
    </dl>
</div>
