.text-center {
    text-align: center!important;
}

.card-header,
.btn-success,
.badge-success {
    background-color: #8FBC45;
}

.btn-primary,
.active {
    background-color: #4BBEFD;
}

.page-header {
    color: #4BBEFD;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.disp {
    display: block !important;
}

.non-disp {
    display: none !important;
}

.txt-center {
    text-align: center;
    /* justify-content: center; */
}


/* .mat-header-cell {
    text-align: center;
} */

.inactiveFilter {
    pointer-events: none;
    cursor: default;
}

.assemblies-font {
    font-size: 13.5px;
}

.mat-header-row,
.mat-row {
    min-height: 30px;
}

.goat-color {
    color: #fff;
    background-color: #4BBEFD;
}

.blue-text {
    font-size: 1em;
    color: #007c82!important;
}

table {
    width: 100%;
}

.mat-row {
    height: auto;
}

.mat-cell {
    padding: 8px 8px 8px 0;
    word-break: break-word;
}

.table-container {
    overflow: auto;
}

.goat-color2 {
    color: #fff;
    background-color: #5cc45e;
    margin-left: 3px;
}

.genome {
    color: #fff;
    background-color: grey;
    margin-left: 3px;
}

.figpanel {
    display: block !important;
    /* width: 69%; */
    /* background: #eee; */
    padding: 20px;
    margin: 20px 0;
    border-radius: 3px;
}

.tab-box {
    padding-right: 2px;
    padding-left: 2px;
}

.goat-box {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.org-filter {
    padding-left: 6px;
}