<div class="container" style="padding-top: 65px;">
    <h1 class="text-center page-header">{{bioSampleObj?.accession}}</h1>
    <dl class="row">
        <dt class="col-sm-3" *ngIf="bioSampleObj?.commonName">Name:</dt>
        <dd class="col-sm-9" *ngIf="bioSampleObj?.commonName">{{bioSampleObj?.commonName}}</dd>

        <dt class="col-sm-3">BioSample ID:</dt>
        <dd class="col-sm-9"><a href="http://www.ebi.ac.uk/biosamples/samples/{{bioSampleObj?.accession}}" target="_blank">{{bioSampleObj?.accession}}</a></dd>

        <dt class="col-sm-3">Organism:</dt>
        <dd class="col-sm-9">{{bioSampleObj?.organism}}</dd>

        <dt class="col-sm-3" *ngIf="bioSampleObj?.sex">Sex:</dt>
        <dd class="col-sm-9" *ngIf="bioSampleObj?.sex">{{bioSampleObj?.sex}}</dd>

        <dt class="col-sm-3" *ngIf="bioSampleObj?.trackingSystem">Tracking Status:</dt>
        <dd class="col-sm-9" *ngIf="bioSampleObj?.trackingSystem"><span [ngClass]="getStatusClass(bioSampleObj?.trackingSystem)">{{bioSampleObj?.trackingSystem}}</span></dd>

        <!-- Custom Fields Section -->
        <div class="col-sm-12">
            <hr>
            <div class="row" *ngFor="let sample of bioSampleObj?.customFields">
                <dt class="col-sm-3">{{sample?.name}}</dt>
                <dd class="col-sm-9">
                    <a *ngIf="sample.ontologyTerms?.lenght > 0; else simple" href="{{sample.ontologyTerms[0]}}">{{sample?.value}}</a>
                    <ng-template #simple>
                        {{sample?.value}}
                    </ng-template>
                </dd>
            </div>
        </div>
        <!-- Experiment Files Section -->
        <div class="col-sm-12" *ngIf="bioSampleObj?.records.length">
            <hr>
            <h1 class="col-sm-12 page-header">Related samples</h1>
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ILLUMINA" #input>
            </mat-form-field>
            <table mat-table #table [dataSource]="dataSourceRecords" matSort class="table table-striped table-hover table-borderless table-sm">

                <!-- First Column -->
                <ng-container matColumnDef="accession">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> BioSample ID </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="txt-center">
                        <a [routerLink]="['/data/organism/details/', element.accession]">
              {{element.accession}}</a>
                    </mat-cell>
                </ng-container>

                <!-- Second Column -->
                <ng-container matColumnDef="organism">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Organism </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="txt-center"> {{element.organism}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="commonName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Common Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="txt-center"> {{element?.commonName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sex">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sex </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="txt-center"> {{element.sex}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="organismPart">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Organism part </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="txt-center"> {{element.organismPart}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="trackingSystem">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tracking status </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span [ngClass]="getStatusClass(element.trackingSystem)">{{element.trackingSystem}}</span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons [length]="bioSampleTotalCount"></mat-paginator>
        </div>
    </dl>
</div>