
<mat-tab-group >
    <mat-tab label="Organism Geographic Location"><app-organisms-geo-location></app-organisms-geo-location></mat-tab>
    <mat-tab label="Tracking Status"><app-tracking-status-chart></app-tracking-status-chart> </mat-tab>
    <mat-tab label="ENA First Public"><app-ena-first-public-chart></app-ena-first-public-chart> </mat-tab>
    <mat-tab label="Kingdom"> <app-kingdom-chart></app-kingdom-chart></mat-tab>
    <mat-tab label="Habitat"><app-habitat-chart></app-habitat-chart></mat-tab>
    <mat-tab label="Lifestage"><app-lifestage-chart></app-lifestage-chart> </mat-tab>
    <mat-tab label="Organisms Part"> <app-organisms-part-chart></app-organisms-part-chart></mat-tab>
    <mat-tab label="Sex Distribution"><app-sex-distribution-chart></app-sex-distribution-chart></mat-tab>

</mat-tab-group>

