::ng-deep .mat-tab-header-pagination {
    display: none !important;
}

::ng-deep .mat-tab-header {
    overflow-x: scroll !important;
}

::ng-deep .mat-tab-label-container {
    overflow: visible !important;
}

::ng-deep .mat-tab-header::-webkit-scrollbar {
    display: none;
}
::ng-deep .mat-tab-header-pagination {
    display: none !important;
}
::ng-deep .mat-tab-body-content { overflow: hidden!important}
