.jumbotron {
    background: url("../../assets/DTL_website_banner_2020_FINAL_WEB.jpg") center center no-repeat;
    background-size: cover;
}

.display-4 {
    margin-top: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.page-header {
    color: #4BBEFD;
}

.display-2 {
    color: ghostwhite;
}
