.jumbotron {
    background: url("../../assets/DTL_website_banner_2020_FINAL_WEB.jpg") center center no-repeat;
    background-size: cover;
}

.page-header {
    color: #4BBEFD;
}

.col-md-8 {
    border-right-style: solid;
    border-right-color: lightgrey;
}

.btn-primary {
    background-color: #8FBC45;
}

.btn-block {
    margin-top: 5px;
}

.material-icons {
    vertical-align: middle;
    font-size: 50px;
}

.display-2 {
    color: ghostwhite;
}
